.cartDropDown {
  position: absolute;
  display: flex;
  z-index: 5;
  width: 22.5rem;
  height: fit-content;
  min-height: 15.5rem;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: $white;
  top: 6.5rem;
  right: -4.5rem;
  box-shadow: 0.1px 3.1px 3.4px rgba(0, 0, 0, 0.017),
    0.2px 7px 7.7px rgba(0, 0, 0, 0.024),
    0.4px 12.1px 13.4px rgba(0, 0, 0, 0.03),
    0.6px 19.3px 21.3px rgba(0, 0, 0, 0.035),
    1px 29.8px 32.8px rgba(0, 0, 0, 0.04),
    1.5px 46.4px 51.3px rgba(0, 0, 0, 0.046),
    2.5px 77.1px 85.1px rgba(0, 0, 0, 0.053),
    5px 154px 170px rgba(0, 0, 0, 0.07);

  & h4 {
    margin-top: 0.8rem;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    user-select: none;
  }
}
.isEmptyDiv {
  @include flex-center;
  border-top: 1px solid $grayish-blue;
  width: 100%;
  min-height: 11rem;
}
.isEmptySpan {
  @include flex-center;
  color: $dark-grayish-blue;
  user-select: none;
}

.cartButton {
  width: 19.4rem;
  height: 3.4rem;
}
.bold {
  color: $very-dark-blue;
  font-weight: bold;
}
.hidden {
  display: none;
}

@media (max-width: 768px) {
  .cartDropDown {
    width: 23.5rem;
    height: 16rem;
    min-height: 15.4rem;
    top: 4.7rem;
    right: 0;
    & h4 {
      margin-top: 1.22rem;
    }
  }
  .cartButton {
    margin-bottom: 1rem;
    height: 3.5rem;
  }
}
@media (max-width: 390px) {
  .cartDropDown {
    width: 100%;
  }
  .cartButton {
    height: 3.5rem;
    width: 87.5%;
  }
}
