@import "../../Scss-variables/mixins.scss";

.productPage {
    @include flex-center;
    width: 98%;
    height: fit-content;
    margin-top: 4.5rem;
    gap: 8.7vw;
}

@media (max-width: 1024px) {
    .productPage {
        margin-top: 1.5rem;
        gap: 2.5vw;
    }
}