@import '../../Scss-variables/mixins';
@import '../../Scss-variables/colors';

nav {
    display: flex;
    width: 38rem;
    box-sizing: border-box;

    & ul {
        @include flex-center;
        gap: 2rem;
        
        & li {
            list-style: none;
            cursor: pointer;
            height: 2rem;
        }
    }
}
@media (max-width: 1024px) {
    nav {
        & ul {
            gap: 1rem;
        }
    }
}