@import '../Scss-variables/mixins.scss';
@import '../Scss-variables/colors.scss';
@import '../Scss-variables/typography.scss';

.header {
    @include flex-center;
    justify-content: space-between;
    width: 87%;
    height: 7.1rem;
    box-sizing: border-box;
    border-bottom: 1px solid $grayish-blue;
}
.logo {
    width: 8.7rem;
    height: 3rem;
    object-fit: contain;
    margin-right: 1rem;
}
.cartAndAvatar {
    @include flex-center;
    justify-content: flex-end;
    width: 40%;
    gap: 2.9rem;
    box-sizing: border-box;
}
.avatar {
    width: 3.1rem;
    height: 3.1rem;
}
a {
    text-decoration: none;
    color: $black-opacity-75;
}
h2 {
    font-size: $h2-font-size;
}