@import "../Scss-variables/mixins.scss";
@import "../Scss-variables/colors.scss";
@import "../Scss-variables/typography.scss";

.header {
  @include flex-center;
  position: relative;
  justify-content: space-between;
  width: 87%;
  height: 7.1rem;
  box-sizing: border-box;
  border-bottom: 1px solid $grayish-blue;
}
.logo {
  width: 8.7rem;
  height: 3rem;
  object-fit: contain;
  margin-right: 1rem;
}
.cartAndAvatar {
  @include flex-center;
  justify-content: flex-end;
  width: 40%;
  gap: 2.9rem;
  box-sizing: border-box;
}
.cartAndNotificationContainer {
  position: relative;
}
.clickablebutton {
  cursor: pointer;
}
.cart {
  fill: $dark-grayish-blue;
  transition: fill 0.1s ease;

  &:hover {
  cursor: pointer;
  fill: $very-dark-blue;
}
}
.avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border 0.2s ease;

  &:hover {
    cursor: pointer;
    border: 2px solid $orange;
  }
}
a {
  text-decoration: none;
  color: $dark-grayish-blue;

  &:hover {
    color: $very-dark-blue;
    padding-bottom: 3rem;
    border-bottom: 4px solid $orange;
    transition: color 0.3s ease, border-bottom 0.1s ease;
  }
}
h2 {
  font-size: $h2-font-size;
}
