@import "../../Scss-variables/mixins.scss";
@import "../../Scss-variables/colors.scss";

.productPictures {
    @include flex-center;
    flex-direction: column;
    box-sizing: border-box;
    width: 27.7rem;
    height: 38rem;
    gap: 1rem;
    margin-top: 0.3rem;
}
