@import "../../Scss-variables/mixins";
@import "../../Scss-variables/typography.scss";
@import "../../Scss-variables/colors.scss";

.productDescription {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 27.7rem;
    height: 38rem;
    padding: 0;
}
.productBrand {
    font-size: 0.85rem;
    font-weight: $font-weight-bold;
    color: $dark-grayish-blue;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0;
    user-select: none;
}
.productName {
    font-size: 2.75rem;
    width: 90%; 
    margin: 1.3rem 0 2.5rem 0;
    line-height: 3rem;
    user-select: none;
}
.productParagraphDescription {
    color: $dark-grayish-blue;
    width: 100%;
    margin: 0 0 1.4rem 0;
    user-select: none;
}
.productPriceAndDiscount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10.7rem;
    margin-bottom: 0.6rem;
}
.productPrice {
    font-size: 1.85rem;
    font-weight: $font-weight-bold;
    color: $very-dark-blue;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 2.5rem;
}
.productDiscount {
    @include flex-center;
    background-color: $very-dark-blue;
    color: $white;
    height: 0.85rem;
    width: 2.1rem;
    padding: 0.4rem 0.5rem;
    margin-top: 0.1rem;
    border-radius: 0.5rem;
}
.productPreviousPrice {
    font-size: 1rem;
    color: $dark-grayish-blue;
    font-weight: $font-weight-bold;
    position: relative;
    margin: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 55%; 
        height: 1px;
        background-color: $dark-grayish-blue;
    }
}
.addToCartSection {
    @include flex-center;
    gap: 1rem;
    width: 100%;
    height: 5rem;
    margin: 1.6rem 0 1.5rem 0;
}
.productQuantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 3.4rem;
    background-color: $light-grayish-blue;
    border-radius: 0.6rem;
    
    & .quantityButton {
        @include flex-center;
        background-color: $light-grayish-blue;
        color: $orange;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        margin:0 0.1rem 0.2rem 0;
        transition: opacity 0.2s;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
    & .streched {
        transform: scaleX(1.7);
        width: 1.5rem;
        margin: auto 0 0.7rem 0.6rem ;
    }

    & .quantityNumber {
        font-size: 1rem;
        font-weight: $font-weight-bold;
        color: $very-dark-blue;
    }
}
.productAddToCart {
    width: 17.5rem;
    height: 3.5rem;

    & .buttonCartImg {
        @include flex-center;
        margin-top: 0.1rem;
        margin-right: 0.85rem;
        width: 1.2rem;
        fill: $very-dark-blue;
    }
}

@media (max-width: 1024px) {
    .productDescription {
        width: 40%;
        height: 30rem;
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    .productName {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    .productQuantity{
        width: 8rem;
        height: 3rem;
    }
    .productAddToCart{
        width: 12rem;
        height: 3rem;
    }
}
@media (max-width: 768px) {
    .productDescription {
        width: 89%;
        height: fit-content;
        padding: 1rem 0rem 0 0rem;
    }
    .productBrand {
        font-size: 0.77rem;
    }
    .productName {
        font-size: 1.74rem;
        margin: 0.9rem 0 1rem 0;
    }
    .productParagraphDescription {
        line-height: 1.55rem;
        font-size: 0.94rem;
    }
    .productPriceElements {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 99%;
    }
    .productPriceAndDiscount {
        margin-bottom: 0;
    }
    .productDiscount {
        padding: 0.4rem 0.55rem;
        border-radius: 6px;
    }
    .productPreviousPrice {
        height: fit-content;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 55%; 
            height: 1px;
            background-color: $dark-grayish-blue;
        }
    }
    .addToCartSection {
        flex-direction: column;
        height: 12rem;
        justify-content: start;
        margin-top: 1.4rem;
        width: 100%;
        & .productQuantity {
            width: 100%;
            height: 3.5rem;
            & .quantityButton {
                width: 2rem;
                height: 2rem;
                &:nth-child(3) {
                    padding-right: 1.6rem;
                }
            }
            & .streched {
             width: 1.2rem;
             margin-bottom: 0.9rem;
             padding-left: 0.9rem;
            }
        }

    }
    .productAddToCart {
        width: 100%;
        height: 3.5rem;
    }   
}
@media (max-width: 390px) {
    .productDescription {
        width: 87%;
    }

}