@import './Scss-variables/typography';

:root {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-paragraph;
  font-synthesis: none;

}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
