.largePicture {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.productLargePicture {
  width: 100%;
  object-fit: fill;
  border-radius: 15px;
  user-select: none;
}
.arrowButtonSection {
  display: none;
}

@media (max-width: 768px) {
  .largePicture {
    @include flex-center;
    width: 100%;
    height: 100%;
  }
  .productLargePicture {
    object-fit: cover;
    border-radius: 0;
    user-select: none;
  }
  .arrowButtonSection {
    @include flex-center;
    position: absolute;
    top: 0;
    width: 78%;
    height: 100%;
  }
}
@media (max-width: 390px) {
  .productLargePicture {
    height: 18.7rem;
  }
}
